* {
  margin: 0;
}
.app-container {
  /* background-image: url("https://res.cloudinary.com/dp1mqbttv/image/upload/v1690090878/252flights_ib2o4a.jpg"); */
  background-color: rgb(143, 197, 197);
  min-height: 800px;
  background-size: cover;
}
